<footer class="site-footer">
  <div class="footer-logos">
    <img src="/themes/ROTA-Logo-2025.png" alt="ROTA Logo" style="height:50px;">
    <img src="/themes/ROTA-Vision-Blog-Logo-2025.png" alt="ROTA Vision Blog Logo" style="height:50px;">
  </div>

  <div class="footer-links">
    © <span id="year"></span> ROTA Vision •
    <a href="https://www.rotavision.org" target="_blank" rel="noopener noreffer">
      Visit ROTA Vision Website <span aria-hidden="true">&#x2197;</span>
    </a>
     • v{{ site.data.version.current }}
  </div>
</footer>
