<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | ROTA Vision Blog }}</title>
    <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    {{ content }}

    <footer style="text-align:center; font-size:0.9em; color:#555; margin-top:2em;">
      <div class="footer-logos">
        <img src="/themes/ROTA-Logo-2025.png" alt="ROTA Logo" style="height:50px;">
        <img src="/themes/ROTA-Vision-Blog-Logo-2025.png" alt="ROTA Vision Blog Logo" style="height:50px;">
      </div>

      <div class="footer-links">
        © 2025 ROTA Vision •
        <a href="https://www.rotavision.org" target="_blank" rel="noopener noreffer">
        Visit ROTA Vision Website <span aria-hidden="true">&#x2197;</span>
        </a>
      </div>
    </footer>
    <script>
      document.querySelectorAll('.alt-words').forEach(el => {
        el.innerHTML = el.textContent.split(' ').map(word => '<span>${word}</span>').join(' ');
      });
    </script>
  </body>
</html>
